{% extends 'index.html' %}
{% block body %}
<div class="row">
     <div class="col-xs-12 col-md-12">
         <h4>Stoccaggi magazzino</h4>
<div class="table">
  <table class="table table-bordered table-striped table-condensed">
            <tr>
                <th>Magazzino</th>
                <th>Codice</th>
                <th>C Barre</th>
                <th>Articolo</th>


                <th>Giacenza</th>
                {% if "SchedaLavorazione" in environment.modulesList %}
                <th>Impegnato</th>
                {% endif %}
                <th>Valore</th>
                <th>Scorta min.</th>
                <th>Data fine sc</th>
                <th>Data prox ordine</th>
            </tr>
           {% for dao in pageData["objects"] %}
            <tr>
                <td>{{dao.magazzino}}</td>
                <td>{{dao.codice_articolo}}</td>
                <td>{{dao.arti.codice_a_barre}}</td>
                <td>{{dao.articolo}}</td>
                <td><strong>{{utils.mN(dao._getGiacenza()[0],1)}}</strong></td>
                {% if "SchedaLavorazione" in environment.modulesList %}
                    <td class="number">{{ dao.impegnato_su_lavorazione}}</td>
                {% endif %}
                <td>{{utils.mNLC(dao.valoreGiacenza,2)}}</td>
                <td>{{dao.scorta_minima|nonone}}</td>
                <td>{{utils.dateToString(dao.data_fine_scorte)}}</td>
                <td>{{utils.dateToString(dao.data_prossimo_ordine)}}</td>
            </tr>
            {% endfor %}
  </table>
</div>
         </div></div>









{% endblock %}
