{% if not environment.web %}
{% extends 'index.html' %}
{% endif %}
{% block body %}
    {% if dao %}
<div class="row">
     <div class="col-xs-12 col-md-12">
        <div class="panel panel-default">
  <div class="panel-heading"><h3>Mag: {{dao.magazzino}} - Cod: {{dao.codice_articolo}} - Denom: {{dao.articolo}}</h3></div>
  <div class="panel-body">
<div class="col-sm-6"><span class="label label-default">Cod Barre</span><p style="display:inline;"><strong> {{dao.arti.codice_a_barre|nonone}}</strong></p></div>
            {% if not utils.setconf("General", "turbo") %}
      <div class="col-sm-6"><span class="label label-danger">Giacenza Generale in tutti i Magazzini</span><h4 style="display:inline;"><strong>  {{dao.arti.getGiacenza()|nonone or 0}}</strong></h4></div>
      {% endif %}
      <div class="col-sm-6"><span class="label label-default">Da data</span> {{utils.dateToString(dao.daData)}}</div>
      <div class="col-sm-6"><span class="label label-default">A Data</span> {{utils.dateToString(dao.aData)}}</div>
      <div class="col-sm-6"><span class="label label-default">Scorta minima</span> {{dao.scorta_minima|nonone}}</div>
      <div class="col-sm-6"><span class="label label-default">Livello Riordino</span>{{dao.livello_riordino|nonone}}</div>
      <div class="col-sm-6"><span class="label label-default">Unità di misura</span> {{dao.denominazione_unita_base}}</div>
<div class="col-sm-6"><span class="label label-default">Data fine scorte</span> {{utils.dateToString(dao.data_fine_scorte)|nonone}}</div>
      <div class="col-sm-6"><span class="label label-default">Data prossimo ordine</span>{{utils.dateToString(dao.data_prossimo_ordine|nonone)}}</div>
<div style="margin-bottom: 5px" class="clearfix"></div>
                <div class="panel panel-info">
            <div class="panel-heading">
              <h5 class="panel-title">Storico dei movimenti articolo &nbsp;&nbsp;</h5>
            </div>
            <div class="panel-body">
<div class="table-responsive">
  <table class="table  table-bordered table-striped table-condensed">
            <thead>
                <th> INFO DOCUMENTO E MOVIMENTO </th>
                <th>Quantità</th>
                <th>Valore</th>
            </thead>
            {% for item in dao._getTotaliOperazioniMovimento(daData=dao.daData,aData=dao.aData, year=environment.workingYear) %}
            <tr >
            <td class="odd-detail" style="padding-left:5px;">{{item['operazione']}} - con - <a href="program:/testataDocumentoId={{item['daoTestataDocumento'].id}}"><b>DOC:</b> {{item['daoTestataDocumento'].numero}} </a> e/o <a href="program:/testataMovimentoId={{item['daoTestataMovimento'].id}}"><b>MOV:</b> {{item['numero']}}</a> - Del: <strong>{{utils.dateToString(item['data_movimento'])}}</strong> -
            {% if item["daoTestataMovimento"].id_cliente or item["daoTestataMovimento"].id_fornitore %}
            {{item['fornitore'][0:15]|string}}{{item['cliente'][0:15]|string}}<br>
            {% endif %}
            {% if item["daoTestataMovimento"].operazione == "Trasferimento merce magazzino" %}
            <br>&nbsp;&nbsp;DA {{item['magazzino']}} - A -{{item['daoTestataMovimento'].tomagazzino}}
            {% endif %}

            </td>
            <td class="odd-number" style="text-align:center;" >{{'%14.1f' % (item['giacenza'],)}} </td>
            <td class="odd-number" style="text-align:center;">{#{utils.mNLC(item['valore'],2)}#}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="3" class="totale-number" style="text-align:right;">GIACENZA A MAGAZZINO: <strong>{{'%14.1f' % (dao.giacenza[0], )}}</strong> <br/> TOTALE PEZZI ACQUISTATI: <strong>{{'%14.1f' % (dao.giacenza[2], )}}</strong> <br /> TOTALE PEZZI VENDUTI: <strong>{{'%14.1f' % (dao.giacenza[3], )}}&nbsp;</strong></td>
            </tr>
</table>
            </div>
         </div>
                    </div>
      </div>
            </div>
         </div>
        {% else %}
        <p><img src= "gui/attenzione_48X48.png">ELIMINATO: Niente da visualizzare</p>
        <p><img src= "gui/testata_promogest2.png"></p>
        {% endif %}

{% endblock %}
